<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="分销系统">
    <test name="login">
        <classes>
<!--            <class name="com.api.Tests.LoginDemo">
                <methods>
                    <include name="login"/>
                </methods>
            </class>-->
            <class name="com.api.cases.DmsAudit">
                <methods>
<!--                    <include name="addTradeOrder"/>-->
<!--                    <include name="dmsAddDistributor"/>-->
<!--                    <include name="saveTemplate"/>-->
<!--                    <include name="tradeAudit"/>-->
<!--                    <include name="searchTradeInfoBySid"/>-->
                    <include name="InsteadUserSuccess"/>
                    <include name="InsteadUserFail"/>


                </methods>
            </class>
        </classes>
    </test>
    <listeners>
        <listener class-name="com.api.config.ExtentTestNGIReporterListener"/>
    </listeners>


</suite>